// sidebar
$menuText:#000000;
$menuActiveText:#1890FF;
$subMenuActiveText:#1890FF; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#E6F7FF;

$subMenuBg:#ffffff;
$subMenuHover:#E6F7FF;

$sideBarWidth: 240px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
